
/* body{
    background-image: url(https://resources.pulse.icc-cricket.com/ICC/photo/2017/01/30/44780aa2-2b6d-4048-897c-6606762b3d38/GettyImages-463485384_Cropped.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: max-content;
} */
html { 
  background: url(https://resources.pulse.icc-cricket.com/ICC/photo/2017/01/30/44780aa2-2b6d-4048-897c-6606762b3d38/GettyImages-463485384_Cropped.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100vh;
}

table{
    background-color:teal;
    box-shadow: 0px 0px 2px 2px;
    border: white;
  
}

.container{
/*     width: 60%; */
    margin: auto;
    margin-top: 5%;
}

/* @media (max-width: 900px){
    .container {
        width: 100%;
    }
} */
